.chart{
    height: 280px;
    margin: 0px 10px;
    @media (max-width: 970px) {
        height: 220px;
    }
    @media (max-width: 870px) {
        height: 190px;
    }
    @media (max-width: 770px) {
        height: 160px;
    }
    @media (max-width: 670px) {
        height: 130px;
    }
    @media (max-width: 570px) {
        height: 190px;
    }
    @media (max-width: 470px) {
        height: 160px;
    }
    @media (max-width: 370px) {
        height: 130px;
    }
    
}